<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="UTF-8"></meta>

    <script src="{{ asset('./js/client/jquery.js') }}"></script>
    <script src="{{ asset('./js/client/utils.js') }}"></script>
    <script src="{{ asset('./js/client/user.js') }}"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ asset('./js/client/user.css') }} />
</head>

	<body>
       <nav class="navbar navbar-default">
    <ul class="nav nav-pills">
        <li role="presentation"><a href="index.html">Accueil</a></li>
        <li role="presentation"><a href="projet.html">Ajouter</a></li>
        <li role="presentation"><a href="best.html">Les meilleurs projets</a></li>
        <li role="presentation" class="active"><a href="user.html.twig">S'enregistrer</a></li>
        <li role="presentation"><a href="connexion.html">Se connecter</a></li>
    </ul>
    </nav>

    <div class="panel panel-primary">
        <div class="panel-heading">Inscription</div>
        <div class="panel-body">
            {{ form_start(form, {'action' : path('user'), 'method' : 'POST'}) }}
                <div class="form-group">
                    <label for="firstname" class="col-sm-2 control-label">Prénom</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.firstname, {'attr': {'class': 'form_control', 'name' : 'firstname', 'placeholder' : 'Veuillez rentrez votre prénom', 'onblur' : 'verifName(this)'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Nom</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.name, {'attr': {'class': 'form_control', 'name' : 'name', 'placeholder' : 'Veuillez rentrez votre nom', 'onblur' : 'verifName(this)'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="mail" class="col-sm-2 control-label">Adresse mail</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.email, {'attr': {'class': 'form_control', 'name' : 'email', 'placeholder' : 'Veuillez rentrez votre adresse mail', 'onblur' : 'verifMail(this)'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">Mot de passe</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.password, {'attr': {'class': 'form_control', 'id' : 'password', 'name' : 'password', 'placeholder' : 'Veuillez rentrez un mot de passe', 'onblur' : 'verifPassword(this)'}}) }}
                    </div>
                    <div class="button">
                        {{ form_widget(form.save, {'attr': {'class' : 'btn btn-primary', 'disabled' : 'disabled'}}) }}
                    </div>
                </div>
            {{  form_end(form) }}
        </div>
    </div>
    </body>
</html>